.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color:rgb(1, 215, 39);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1, h2 {
  font-family: Lato;
}
body {
  background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0221/2149/rrwatermelon2-01_shop_preview.png") ;
  align-content: center;
  /* -webkit-animation: mymove 20s infinite; 
  animation: mymove 40s infinite;  */
}



@-webkit-keyframes mymove {
    50% {background-position: center;}
}

@keyframes mymove {
    50% {background-position: center;}
}
 h{
  color:black;
  text-align: center;
  background-color:rgb(1, 215, 39);
} 
.chestie{
  align-items:center ;
  

}
#example {
    background-color: whitesmoke;
    color:rgb(1, 215, 39);
    box-shadow: 5px 5px grey;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 rgb(255, 0, 0), 0 -1px red;
    border: 2px ;
    padding: 10px;
    border-radius: 2em 1em 4em / 0.5em 3em;
} 

.content {
  align-content: center;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.right{
  right: 0;
   /* background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0221/2149/rrwatermelon2-01_shop_preview.png") ; */
   
   
}

.left {
    left: 0;
    /* background-color:rgb(1, 215, 39); */
}

.centered {
    padding:20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background:rgb(255,168,158);
    border-radius:2em 2em 2em ;
    border: 4px solid;
    border-color: rgb(173,255,158);
}
.centered2 {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid;
    border-color: rgb(173,255,158);  
    border-radius:2em 2em 2em ;
    background:rgb(255,168,158);
    padding:2px
    
}

.zoom {
  
    transition: transform .2s; 
   
    margin: 0 auto;

  
}

.zoom:hover {
    transform: scale(1.8);
  

}

.zoom2 {
  
  transition: transform .2s; 
 
  margin: 0 auto;


}

.zoom2:hover {
  transform: scale(1.9);


}
.button {
  background: black;
  color:rgb(1, 215, 39);
  border: 2px solid;
  border-color: white;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  cursor: pointer;
  
}

.button:hover{
  background-color: whitesmoke;
  
}


.example2 {
    border: 1px ;
    padding: 10px;
    box-shadow: 5px 5px #888888;
    border-color: red;
    border-radius: 50px;
    outline: none;
    margin: 0.5em;
    }

    #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.file{
  margin: 0.5em;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

